.tour-detail-page {
    .react-tabs__tab{
        font-size: 1em;
        font-weight: 600;
        color: black;
    }

    .react-tabs__tab--selected {
        color: #FF5721 !important;
    }

    box-sizing: border-box;
}